:root {
  background-color: #151515;
  font-size: 62.5%;
  --main: #ebebeb;
  --secondary: #4a4a4a;
  --button: #2b2b2b;
  --shadow: 0 0.4rem 1.4rem 0 rgba(116, 141, 150, 0.5);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--main);
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  font-size: 1.8rem;
  overflow: hidden;
}

h1 {
  padding: 2rem;
  color: var(--main);
  text-align: center;
}

span > p {
  display: inline;
}

.text-box {
  font-size: 1.5rem;
  padding: 0.75rem;
  width: 25rem;
  text-align: left;
  border: 0.1rem solid var(--main);
  margin-bottom: 1rem;
  color: var(--secondary);
  background-color: white;
  border-radius: 15px;
}

.btn {
  font-size: 1.5rem;
  padding: 0.75rem;
  width: 10rem;
  text-align: center;
  border: 0.1rem solid var(--main);
  margin-bottom: 1rem;
  margin-left: -3rem;
  color: var(--main);
  background-color: var(--button);
  border-radius: 15px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: var(--shadow);
  transform: translate(-0.15rem);
  transition: transform 100ms;
  border-radius: 25px;
}

.card {
  background-color: rgba(19, 19, 19, 0.98);
  opacity: 0.85;
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(97, 97, 97, 0.3) 0px 4px 10px -4px;
  transition: 0.3s;
  padding: 1rem;
}

#weather > div {
  display: flex;
  padding: 1rem;
  width: 100%;
}

#weather > div > p {
  padding: 1rem;
  width: 50%;
}

#name {
  font-size: 3rem;
}

#actual {
  font-size: 6rem;
}

#tempIcon {
  font-size: 8rem;
  margin-left: 5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--main);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--main) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
